**Week 8 Instructor-led Lab**

# Advanced Data Manipulation

Author: Magdalena Gerharter  
Course: BGEN 632 Grad. Intro. to Python  
Term: Spring 2025

## Import modules

In [7]:
import os
import numpy as np
import pandas as pd

## Set working directory

In [9]:
os.chdir("/Users/magdalenagerharter/Documents/GitHub/week8labs/data")
os.getcwd()  #confirm change

'/Users/magdalenagerharter/Documents/GitHub/week8labs/data'

## Load data

In [11]:
gh_teams = pd.read_csv("github_teams.csv")
gh_teams.info()  # quick inspect

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608 entries, 0 to 607
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name_h                    608 non-null    object
 1   Team_type                 608 non-null    object
 2   Team_size_class           608 non-null    object
 3   human_members_count       608 non-null    int64
 4   bot_members_count         608 non-null    int64
 5   human_work                608 non-null    int64
 6   work_per_human            608 non-null    float64
 7   human_gini                608 non-null    float64
 8   human_Push                608 non-null    int64
 9   human_IssueComments       608 non-null    int64
 10  human_PRReviewComment     608 non-null    int64
 11  human_MergedPR            608 non-null    int64
 12  bot_work                  608 non-null    int64
 13  bot_Push                  608 non-null    int64
 14  bot_IssueComments         608 non-null    int64
 15  bot_PRReviewComment       608 non-null    int64
 16  bot_MergedPR              608 non-null    int64
 17  eval_survival_day_median  303 non-null    float64
 18  issues_count              303 non-null    float64
dtypes: float64(4), int64(12), object(3)
memory usage: 90.4+ KB

## Sorting and Ordering data

#### Select columns Team_type, human_work, work_per_human

In [14]:
gh_teams.filter(["Team_type", "human_work", "work_per_human"])

     Team_type  human_work  work_per_human
0    human-bot          66       33.000000
1        human          62       31.000000
2        human         211       30.142857
3    human-bot       14579       62.303419
4    human-bot        1625       42.763158
..         ...         ...             ...
603  human-bot         855      285.000000
604      human          63       31.500000
605      human          26        5.200000
606      human          13        2.600000
607  human-bot          57       28.500000

[608 rows x 3 columns]

#### Select columns that end in t using regex

In [16]:
(gh_teams.filter(regex="t$"))

,human_members_count,bot_members_count,human_PRReviewComment,bot_PRReviewComment,issues_count
0,2,1,4,0,8.0
1,2,0,0,0,NaN
2,7,0,1,0,46.0
3,234,12,1170,0,4757.0
4,38,8,152,0,777.0
...,...,...,...,...,...
603,3,1,373,0,NaN
604,2,0,0,0,NaN
605,5,0,2,0,NaN
606,5,0,1,0,10.0
607,2,1,1,1,26.0

#### Sort descending by Team_size_class, human_work, work_per_human

In [18]:
(gh_teams.sort_values(by=["Team_size_class", "human_work", "work_per_human"], ascending=False))

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
559,WLaEz_1Nf-YWzHZa8bBgAA/pLoAhZ1cbPT38VYoSdXGmg,human,Small,3,0,3040,1013.333333,0.292105,434,2606,0,0,0,0,0,0,0,3.0,365.0
209,eIPosZ68E2LjtaixYK65EQ/0Rp6D1ZR1w4YspfD1H-PfA,human-bot,Small,3,1,1639,546.333333,0.413260,1114,283,223,19,156,0,156,0,0,21.0,204.0
410,pxIFRbeuXsUzHtQB3vDwVA/JlkO4fgLE3bD5QjXcU-0CQ,human-bot,Small,3,1,913,304.333333,0.549836,130,507,271,5,53,0,53,0,0,50.0,108.0
268,hXoZRbHPbVxh--funPXSiw/iNU0l_SpKVjGfHOp8vUt8w,human-bot,Small,2,2,910,455.000000,0.065934,207,369,334,0,114,0,114,0,0,4.0,64.0
603,zTj5tlMWgotzJmQl7BP8wQ/iQ914_smScbUO8BI9JlE6A,human-bot,Small,3,1,855,285.000000,0.474854,423,59,373,0,26,0,26,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,7Xep-tc_sXRqdGZ18-MUog/m4gKCZYLclV3PlKDdogc7w,human,Large,9,0,57,6.333333,0.475634,57,0,0,0,0,0,0,0,0,NaN,NaN
564,WMMEJn_D7axJ01w5Xw-8Dw/O8KdDIC1elOLPB08sR2lNw,human-bot,Large,7,1,53,7.571429,0.463612,23,22,8,0,8,2,6,0,0,NaN,NaN
165,bxLD_LudiJ8mO7AZa8QgwQ/9LZ8c1ynzo_ohr4eRwcdcg,human,Large,8,0,51,6.375000,0.517157,51,0,0,0,0,0,0,0,0,NaN,NaN
562,WMMEJn_D7axJ01w5Xw-8Dw/7F60C3mR08-_sYUM_MNHtA,human-bot,Large,7,1,38,5.428571,0.300752,31,6,1,0,11,6,5,0,0,NaN,NaN
292,ilEEnZRNdUqNk7tvvGBo1Q/8xHANrgyHiFV3TuhcqwrpQ,human,Large,8,0,14,1.750000,0.250000,14,0,0,0,0,0,0,0,0,NaN,NaN

#### Select human-bot teams with bot_members_count >= 3

In [20]:
(gh_teams
 .query("Team_type == 'human-bot' & bot_members_count >= 3"))

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
3,_l5u7I5p4thtW5SjR_9_4w/aZNCdVXta7fh7eCMzZP1CA,human-bot,Large,234,12,14579,62.303419,0.738342,1942,11430,1170,37,1972,0,1972,0,0,1.0,4757.0
4,_l5u7I5p4thtW5SjR_9_4w/m_FpD7PKQHqVXHn2bh7u2g,human-bot,Large,38,8,1625,42.763158,0.666607,203,1270,152,0,302,0,302,0,0,2.0,777.0
89,5Is-_ie16OEGmW1arZm8qg/8UeSk2P76pTG7pPLtxsHTQ,human-bot,Large,17,4,7412,436.000000,0.439621,4182,1257,1917,56,358,5,202,151,0,2.0,495.0

####  Select human teams that are Large and human_gini >= 0.75

In [22]:
(gh_teams
 .query("Team_type == 'human' & Team_size_class == 'Large' & human_gini >= 0.75"))

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,human_gini,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,eval_survival_day_median,issues_count
138,ASYGR96YA91p3z7MNKjZCA/IB2pZ8ygcvNnlxUdysjSFA,human,Large,12,0,1655,137.916667,0.799446,793,684,178,0,0,0,0,0,0,4.0,190.0
285,IiUao8vA_zm_uEIVVLI-Sw/91ya8vlSP8qgwCllH_6BSw,human,Large,25,0,3599,143.960000,0.863507,1249,2350,0,0,0,0,0,0,0,0.0,1245.0
505,uLHPO58cQefwrJUbyhYOKQ/7YWOP8uDEeKDHQMWKqOoYA,human,Large,48,0,5748,119.750000,0.782040,1715,3891,142,0,0,0,0,0,0,0.0,1200.0
582,y8Jw59EHVSrsluSuhR5okg/V5vb074jNkzg4YCKforX1Q,human,Large,8,0,277,34.625000,0.781137,275,2,0,0,0,0,0,0,0,NaN,NaN

#### How many teams are Small or Large?

In [24]:
(gh_teams
 .query("Team_size_class in ['Small', 'Large']")
 .shape[0])

428

#### How many Small or Large teams have human_gini <= 0.25?

In [26]:
(gh_teams
 .query("Team_size_class in ['Small', 'Large'] & human_gini <= 0.25")
 .shape[0])

89

#### How many human teams are in Medium category?

In [28]:
(gh_teams
 .query("Team_type =='human' & Team_size_class == 'Medium'")
 .shape[0])

96

#### Save Team_size_class and work_per_human as a new DataFrame

In [30]:
new_teams = (gh_teams
             .filter(["Team_size_class", "work_per_human"]))
new_teams

    Team_size_class  work_per_human
0             Small       33.000000
1             Small       31.000000
2             Large       30.142857
3             Large       62.303419
4             Large       42.763158
..              ...             ...
603           Small      285.000000
604           Small       31.500000
605          Medium        5.200000
606          Medium        2.600000
607           Small       28.500000

[608 rows x 2 columns]

#### Rename human_gini to work_inequality and eval_survival_day_median to issue_resolution_time

In [32]:
(gh_teams
 .rename(columns={
     "human_gini": "work_inequality",
     "eval_survival_day_median": "issue_resolution_time"}))

,name_h,Team_type,Team_size_class,human_members_count,bot_members_count,human_work,work_per_human,work_inequality,human_Push,human_IssueComments,human_PRReviewComment,human_MergedPR,bot_work,bot_Push,bot_IssueComments,bot_PRReviewComment,bot_MergedPR,issue_resolution_time,issues_count
0,_1bqaxzCk0sfQaunsjeViQ/RCEZ3CASdLXbstu9y2JQ7Q,human-bot,Small,2,1,66,33.000000,0.287879,29,33,4,0,43,0,43,0,0,87.0,8.0
1,_9o07rGiC7DFyi-zm91Q0g/VOgMsrjYEwFAq0BY8kHqGQ,human,Small,2,0,62,31.000000,0.467742,62,0,0,0,0,0,0,0,0,NaN,NaN
2,_DzK53uaZXnAX3WcC0W28g/Epc4QWw5PNBQIIdvopEHDA,human,Large,7,0,211,30.142857,0.499661,194,16,1,0,0,0,0,0,0,37.0,46.0
3,_l5u7I5p4thtW5SjR_9_4w/aZNCdVXta7fh7eCMzZP1CA,human-bot,Large,234,12,14579,62.303419,0.738342,1942,11430,1170,37,1972,0,1972,0,0,1.0,4757.0
4,_l5u7I5p4thtW5SjR_9_4w/m_FpD7PKQHqVXHn2bh7u2g,human-bot,Large,38,8,1625,42.763158,0.666607,203,1270,152,0,302,0,302,0,0,2.0,777.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,zTj5tlMWgotzJmQl7BP8wQ/iQ914_smScbUO8BI9JlE6A,human-bot,Small,3,1,855,285.000000,0.474854,423,59,373,0,26,0,26,0,0,NaN,NaN
604,zUBexdmYylGGpxiebXm6gg/sJXD2kulWzU35ijdY3SnBQ,human,Small,2,0,63,31.500000,0.436508,63,0,0,0,0,0,0,0,0,NaN,NaN
605,zVSBi-iRKCzLiqFwVt6hbg/8SfUBIOeWUjDoQxeUCX7wQ,human,Medium,5,0,26,5.200000,0.446154,19,5,2,0,0,0,0,0,0,NaN,NaN
606,zVSBi-iRKCzLiqFwVt6hbg/fm_lDWwc8Uu-aZ24BjUNZg,human,Medium,5,0,13,2.600000,0.246154,8,4,1,0,0,0,0,0,0,8.0,10.0
607,ZX09uvu0z_JVPVI-XrPniQ/pxiuGX_R6QI2Euvx2GFIFw,human-bot,Small,2,1,57,28.500000,0.043860,32,24,1,0,8,3,4,1,0,5.0,26.0